* {
  margin: 0;
}

@font-face {
  font-family: 'Death-Star';
  src: url('DeathStar.ttf');
}

#container {
  font-size: calc(20px);
  font-family: 'Death-Star', sans-serif; /* Added a fallback font */
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black; /* Change text color to black */
  text-align: center;
  display: none;
  text-shadow:
    -1px -1px 0 #ff0,  
     1px -1px 0 #ff0,
    -1px  1px 0 #ff0,
     1px  1px 0 #ff0,
    -2px  0 0 #ff0,
     2px  0 0 #ff0,
     0  2px 0 #ff0,
     0 -2px 0 #ff0;
}

button{
  font-family: 'Death-Star', sans-serif;
  max-width: 100px;
  max-height: 100px;
  transform: scale(200%);
}

#blast-off-btn {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

.footer-logos {
  position: fixed;
  bottom: 10%; /* Adjust this value to move closer or farther from the bottom */
  width: 100%;
  text-align: center;
}

.footer-logos svg {
  margin-right: 10px; /* Add space between logos */
  max-width: 50px; /* Maximum size */
  width: 100%; /* Scales based on the parent container's width */
  height: auto; /* Maintain aspect ratio */
}

#insta-btn, #sc-btn {
  background-color: transparent; /* Make button background transparent */
  border: none; /* Remove button border, if any */
  padding: 0; /* Remove padding to ensure it's just the SVG visible */
  cursor: pointer; /* Optional: Change cursor to pointer to indicate it's clickable */
}

#insta-btn {
  /* Decrease the size of the svg */
  max-width: 110px;
  width: 100%;
  height: auto;
}

#sc-btn {
  /* Increase the size of the svg */
  max-width: 100px; /* Adjusted as per your request */
  width: 100%;
  height: auto;
}
