* {
  margin: 0;
}

#container {
  font-size: calc(20px);
  font-family: 'Arial Black';
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  display: none;
}

#blast-off-btn {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}




